@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Poppins&family=Roboto&display=swap");
nav {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  text-decoration: none;
  color: #777777; }

.navbar {
  background: white;
  width: 100%; }

header {
  width: 95%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap; }

header ul {
  padding: 1.2em 0 0.5em; }

header span {
  padding: 0 0 0 0.5em; }

header span, header i {
  color: #2B2D42; }

header i:nth-of-type(2) {
  cursor: pointer; }

.row {
  width: 100%;
  -webkit-box-pack: start;
  justify-content: flex-start;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap; }

.product, .product--blue, .product--orange, .product--red, .product--green, .product--yellow, .product--pink {
  box-shadow: 1px 5px 15px #CCC;
  width: 15em;
  height: auto;
  border-radius: 3px;
  padding: 2em;
  margin: 1em;
  overflow: hidden;
  position: relative;
  -webkit-box-flex: 1;
  flex: auto; }

.product img, .product--blue img, .product--orange img, .product--green img, .product--yellow img, .product--pink img {
  max-width: 100%;
  text-align: center; }

.product_inner {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column wrap; }

.product_inner p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 5px;
  text-align: center;
  color: #595959; }

.product_inner button {
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #595959;
  background-color: #ebebeb;
  border-radius: 3px;
  padding: 1em 2em;
  margin: 1em 0 0 0;
  cursor: pointer;
  -webkit-transition: background ease-in .25s;
  transition: background ease-in .25s; }

.product_inner button:hover {
  background: #9BC617;
  color: #2B2D42; }

.product_inner button:before {
  font-family: FontAwesome;
  flex-wrap: nowrap;
  color: grey;
  position: absolute;
  font-size: 1.5em;
  margin: 0 -1.5em; }

.product_inner button:hover:before {
  color: #2B2D42; }

.product_overlay {
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-500px);
  transform: translateY(-500px);
  opacity: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column wrap;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center; }

.product_overlay h2 {
  color: rgba(43, 45, 66, 0.7);
  font-size: 1.2em;
  margin: 1em 0; }

.product_overlay i {
  color: rgba(43, 45, 66, 0.7);
  font-size: 1.5em; }

.aside__productos {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  padding-bottom: 2ex;
  color: #595959;
  list-style: none; }

.aside__productos--link {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  /* identical to box height */
  color: #595959;
  list-style: none;
  text-decoration: none;
  padding-bottom: 2ex; }

.aside__productos--link a:hover {
  text-decoration: none;
  color: #9BC617;
  transform: scale(1.1, 1.1); }

.aside__productos--link:hover {
  text-decoration: none;
  color: #9BC617;
  transform: scale(1.1, 1.1); }

div ul li a {
  text-decoration: none;
  color: #595959;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  /* identical to box height */ }

/*---------------------------------------------FOOOOOOTTTEEEERRR---------------------------------------------------*/
.footer__list {
  font-family: Archivo Black;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 22px;
  color: #FFFFFF;
  list-style: none;
  margin-top: 40px; }

.footer__list--item {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  margin-top: 10px; }

.footer__list--link {
  color: #FFFFFF;
  text-decoration: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px; }

.footer__list--link:hover {
  text-decoration: none;
  color: #ffffff; }

/*----------------------------------------------------SECCION CONTACTOS---------------------------*/
.contact__title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #595959; }

.contact__subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 142.69%;
  /* or 20px */
  text-align: center;
  color: #595959; }

.contact__title--secondary {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #595959; }

.contact__aside--title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #595959;
  margin-top: 35px; }

.contact__aside--subtitle {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height */
  color: #595959; }

.contact__form--title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 142.69%;
  margin-top: 30px;
  color: #595959; }

.contact__form--input {
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 19.5px;
  width: 298px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 142.69%;
  height: 35px;
  color: black; }

.contact__form--input:focus {
  color: black; }

.contact__form--textarea {
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 29px;
  height: 208px;
  width: 615px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 142.69%;
  color: #C4C4C4; }

/*-------------------------------------------------CATEGORIAS-HOME-----------------------------------*/
.home__categorias--1 {
  position: relative;
  background-size: cover;
  width: 227px;
  height: 146px;
  top: 50px;
  left: 5px; }

.home__categorias--2 {
  position: relative;
  background-size: cover;
  width: 227px;
  height: 146px;
  top: 50px;
  left: 10px; }

.home__categorias--3 {
  position: relative;
  background-size: cover;
  width: 182px;
  height: 183px;
  top: 30px;
  left: 20px; }

.home__categorias--4 {
  position: relative;
  background-size: cover;
  width: 192px;
  height: 191px;
  top: 30px;
  left: 15px; }

/*---------------------------------------- MAS VENDIDOS- HOME---------------------------*/
.masvendidos__home--title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #595959;
  display: flex;
  justify-content: space-around;
  position: relative;
  left: 55px; }

#masvendidos__rectangle {
  position: relative;
  border: 1px solid #C3C3C3;
  box-sizing: border-box;
  border-radius: 21px;
  height: 308px; }

.masvendidos__imagen {
  position: relative;
  left: 30px;
  top: 30px; }

#imagen-almendras {
  left: 50px; }

.masvendidos__line--1 {
  border: 1px solid;
  color: #C3C3C3;
  height: 0px;
  position: relative;
  top: 30px;
  width: 283px;
  right: 15px; }

.masvendidos__line--2 {
  border: 1px solid;
  color: #C3C3C3;
  height: 0px;
  position: relative;
  top: 25px;
  width: 283px;
  right: 15px; }

.masvendidos__line--3 {
  border: 1px solid;
  color: #C3C3C3;
  height: 0px;
  position: relative;
  top: 40px;
  width: 283px;
  right: 15px; }

.masvendidos__link {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #595959;
  text-decoration: none; }

.masvendidos__link:hover {
  color: #595959;
  text-decoration: none;
  transform: scale(1.2, 1.2); }

#link-1 {
  position: relative;
  top: 45px;
  left: 75px;
  transform: scale(1.2, 1.2); }

#link-2 {
  position: relative;
  top: 40px;
  left: 65px; }

#link-3 {
  position: relative;
  top: 54px;
  left: 48px; }

#link-4 {
  position: relative;
  top: 40px;
  left: 55px; }

.masvendidos__precio {
  position: relative;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 28px;
  text-align: center;
  /* Verde */
  color: #9BC617; }

#precio-1 {
  top: 55px; }

#precio-2 {
  top: 49px; }

#precio-3 {
  top: 65px; }

#precio-4 {
  top: 49px; }

.masvendidos__cantidad {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 11px;
  /* identical to box height */
  text-align: center;
  color: #595959;
  position: relative; }

#cantidad-1 {
  top: 47px; }

#cantidad-2 {
  top: 40px; }

#cantidad-3 {
  top: 54px; }

#cantidad-4 {
  top: 40px; }

/* ------------------- COMIENZO DEL NEWLETTER- SECCION HOME ---------*/
.newsletter__title {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center; }

.newsletter__subtitle {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  text-align: center; }

.newsletter__legend {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-align: center; }

.newsletter__email {
  width: 404px;
  height: 36px;
  background: #FFFFFF;
  border-radius: 10px; }

/*---------------------------------------------------SECCION NOSOTROS---------------------------------------------------------*/
.us__title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  /* identical to box height */
  text-align: center;
  color: #595959; }

.us__text--principal {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 142.69%;
  /* or 20px */
  text-align: center;
  color: #595959; }

.img-circle {
  position: relative;
  padding: 0;
  border-radius: 800px;
  overflow: hidden; }

.us__image--name {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 142.69%;
  /* or 21px */
  color: #595959; }

.product__submit {
  background: #BCBCBC;
  border-radius: 10px;
  width: 214px;
  height: 44px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 142.69%;
  /* or 21px */
  text-align: center;
  color: #FFFFFF;
  position: relative;
  top: 30px; }
